body{
    background-image: url("./assets/kendrick-lamar-rapper-album-gnx-foto-pglang.jpg");
        background-repeat: no-repeat;           /* Impede que a imagem se repita */
        background-size: cover;                 /* Ajusta a imagem para cobrir toda a área */      
    height: 100%;
      
}
.capa-album{
    height: 412px;
}
.btn-outline-danger{
    border: 1px solid #000;
    color: #ffff;
}
.right-section1{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.wrap-btn{
    margin-top: 20px;
    display: flex;
    height:70px;
    width: auto;
}
.btn{
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn-plataformas{
    background: none;
   
    padding: 1rem;
    border-right:0px !important;
    border: 2px solid #fff;
    border-radius: 0;
}
.youtube {
    border-right:2px solid #fff !important;
}
.youtube:hover{
    border-color :#000 !important;
}

.btn-plataformas:hover{
    background-color: #000;
    border-color: #000;
}
.btn-play{
    padding-bottom: 0;
    padding-top: 0;
    border: 0;
}
@media (min-width: 400px) and (max-width: 765px) {
    .capa-album{
        width: 100%;
    }
}
@media (min-width: 100px) and (max-width: 575px) {
    .left-section1{
        margin-left: 10px;
    }
    iframe{
        height: 200px;
    }
}